<form>
    <div>
        <label for="">Nombre:</label><input type="text">
    </div>
    <div>
        <label for="">Dirección:</label><input type="text">
    </div>
    <div>
        <label for="">Habitaciones:</label><input type="number" max="3" min="1">
    </div>
    <div>
        <label for="">Desayuno:</label>
        <input type="radio" name="desayuno" value="si"> Si
        <input type="radio" name="desayuno" value="no"> No
    </div>
</form>
<div>
    <a routerLink="result">Buscar hoteles</a>
</div>
